<br>
<br>
<br>
<section class="contenedor">
    <div class="contenedor-items">
        <div class="item">
            <span class="titulo-item">Balon Adidas</span>
            <img src="~/img/Accesorios/Balon 1.png" alt="" class="img-item">
            <span class="precio-item">$270.000</span>
            <button class="boton-item">Agregar al Carrito</button>
        </div>
        <div class="item">
            <span class="titulo-item">Mini Arcos</span>
            <img src="~/img/Accesorios/Canchas.png" alt="" class="img-item">
            <span class="precio-item">$320.000</span>
            <button class="boton-item">Agregar al Carrito</button>
        </div>
        <div class="item">
            <span class="titulo-item">Canilleras Adidas</span>
            <img src="~/img/Accesorios/Canilleras.png" alt="" class="img-item">
            <span class="precio-item">$70.000</span>
            <button class="boton-item">Agregar al Carrito</button>
        </div>
        <div class="item">
            <span class="titulo-item">Guantes Adidas</span>
            <img src="~/img/Accesorios/Guantes.png" alt="" class="img-item">
            <span class="precio-item">$150.000</span>
            <button class="boton-item">Agregar al Carrito</button>
        </div>
        <div class="item">
            <span class="titulo-item">Guayera Adidas</span>
            <img src="~/img/Accesorios/Guayera.png" alt="" class="img-item">
            <span class="precio-item">$210.000</span>
            <button class="boton-item">Agregar al Carrito</button>
        </div>
        <div class="item">
            <span class="titulo-item">Medias Medias antideslizantes</span>
            <img src="~/img/Accesorios/Medias.png" alt="" class="img-item">
            <span class="precio-item">$65.000</span>
            <button class="boton-item">Agregar al Carrito</button>
        </div>
        <div class="item">
            <span class="titulo-item">Tula Adidas</span>
            <img src="~/img/Accesorios/Mochila.png" alt="" class="img-item">
            <span class="precio-item">$310.000</span>
            <button class="boton-item">Agregar al Carrito</button>
        </div>
        <div class="item">
            <span class="titulo-item">Red Rebotadora</span>
            <img src="~/img/Accesorios/Red rebotadora.png" alt="" class="img-item">
            <span class="precio-item">$180.000</span>
            <button class="boton-item">Agregar al Carrito</button>
        </div>
        <div class="item">
            <span class="titulo-item">Red triple función</span>
            <img src="~/img/Accesorios/Red triple funcion.png" alt="" class="img-item">
            <span class="precio-item">$370.000</span>
            <button class="boton-item">Agregar al Carrito</button>
        </div>
    </div>

    <div class="carrito" id="carrito">
        <div class="header-carrito">
            <h2>Tu Carrito</h2>
        </div>

        <div class="carrito-items">
        </div>
        <div class="carrito-total">
            <div class="fila">
                <strong>Tu Total</strong>
                <span class="carrito-precio-total">
                    $120.000,00
                </span>
            </div>
            <button class="btn-pagar">Pagar <i class="fa-solid fa-bag-shopping"></i> </button>
        </div>
    </div>
</section>
<br>
<br>
<br>
<br>