<br>
<br>
<br>
<br>
<br>
<table class="container3" border="0">
    <tr align="center"><span style="font-size: 8px;"></span>
        <td>
            <h3><b>¿Quienes somos?</b></h3>
            <p>
                Somos GoalScore, una empresa jóven,<br>
                inspirada en el Fútbol, contamos con ventas <br>
                por medio virtual donde ofrecemos venta de <br>
                todo el calzado para su actividad, ya sea Guayos para grama natural,<br>
                Zapatillas para piso duro, y Zapatillas para piso sintético,
                Trabajamos para ti, y tu satisfacción en
                Colombia y el mundo.
                <br><br>
                <b>MISIÓN</b><br><br>
                Ser aliado perfecto de los deportistas en colombia, <br>
                aprovechando la tecnología para llevarles <br>
                las mejores marcas a sus prácticas diarias. <br>
                <br><br>
                <b>VISIÓN</b><br><br>
                Ser la tienda virtual más rentable, respetada y amada <br>
                por los deportistas en colombia y el mundo, <br>
                contribuyendo al progreso del deporte con amor y <br>
                pasión.
            </p>
        </td>
        <td width="800" style="text-align: right;">
            <img class="col-lg-11 pt16 pb16" src="~/img/quienes_somos.jpg" alt="">
        </td>
    </tr>
</table>
<br>
<br>
<h3 style="text-align: center;">Nuestro equipo</h3>
<br>
<div class="equipo">
    <div class="miembro">
        <div class="foto">
            <img src="~/img/Johan_Cediel.jpg" alt="Miembro 1">
        </div>
        <div class="nombre"><p>Johan Cediel</p></div>
        <div class="cargo" style="font-size: 10px;"><p>Desarrollador Web</p></div>
    </div>
    <div class="miembro">
        <div class="foto">
            <img src="~/img/Daniel_Aguilar.jpg" alt="Miembro 2">
        </div>
        <div class="nombre"><p>Daniel Aguilar</p></div>
        <div class="cargo" style="font-size: 10px;"><p>Desarrollador Web</p></div>
    </div>
</div>
<br>
<br>
<br>
