<br>
<br>
<br>
<section class="contenedor">
    <div class="contenedor-items">
        <div class="item">
            <span class="titulo-item">Nike Tiempo Azul/Blanco</span>
            <img src="~/img/Futsal Hombre/Futsal_1.png" alt="" class="img-item">
            <span class="precio-item">$170.000</span>
            <button class="boton-item">Agregar al Carrito</button>
        </div>
        <div class="item">
            <span class="titulo-item">Adidas predator Naranja</span>
            <img src="~/img/Futsal Hombre/Futsal_2.png" alt="" class="img-item">
            <span class="precio-item">$150.000</span>
            <button class="boton-item">Agregar al Carrito</button>
        </div>
        <div class="item">
            <span class="titulo-item">Adidas predator</span>
            <img src="~/img/Futsal Hombre/Futsal_3.png" alt="" class="img-item">
            <span class="precio-item">$210.000</span>
            <button class="boton-item">Agregar al Carrito</button>
        </div>
        <div class="item">
            <span class="titulo-item">Adidas Copa Negro</span>
            <img src="~/img/Futsal Hombre/Futsal_4.png" alt="" class="img-item">
            <span class="precio-item">$130.000</span>
            <button class="boton-item">Agregar al Carrito</button>
        </div>
        <div class="item">
            <span class="titulo-item">Nike Mundial</span>
            <img src="~/img/Futsal Hombre/Futsal_5.png" alt="" class="img-item">
            <span class="precio-item">$180.000</span>
            <button class="boton-item">Agregar al Carrito</button>
        </div>
        <div class="item">
            <span class="titulo-item">Nike mercurial Negro/Naranja</span>
            <img src="~/img/Futsal Hombre/Futsal_6.png" alt="" class="img-item">
            <span class="precio-item">$180.000</span>
            <button class="boton-item">Agregar al Carrito</button>
        </div>
        <div class="item">
            <span class="titulo-item">Nike Tiempo Blanco/Rojo</span>
            <img src="~/img/Futsal Hombre/Futsal_7.png" alt="" class="img-item">
            <span class="precio-item">$170.000</span>
            <button class="boton-item">Agregar al Carrito</button>
        </div>
        <div class="item">
            <span class="titulo-item">Nike Tiempo Blanco/Naranja</span>
            <img src="~/img/Futsal Hombre/Futsal_8.png" alt="" class="img-item">
            <span class="precio-item">$170.000</span>
            <button class="boton-item">Agregar al Carrito</button>
        </div>
        <div class="item">
            <span class="titulo-item">Adidas E1</span>
            <img src="~/img/Futsal Hombre/Futsal_9.png" alt="" class="img-item">
            <span class="precio-item">$90.000</span>
            <button class="boton-item">Agregar al Carrito</button>
        </div>
    </div>

    <div class="carrito" id="carrito">
        <div class="header-carrito">
            <h2>Tu Carrito</h2>
        </div>

        <div class="carrito-items">
        </div>
        <div class="carrito-total">
            <div class="fila">
                <strong>Tu Total</strong>
                <span class="carrito-precio-total">
                    $120.000,00
                </span>
            </div>
            <button class="btn-pagar">Pagar <i class="fa-solid fa-bag-shopping"></i> </button>
        </div>
    </div>
</section>
<br>
<br>
<br>
<br>
