<br>
<br>
<br>
<section class="contenedor">
    <div class="contenedor-items">
        <div class="item">
            <span class="titulo-item">Adidas Copa Blanco</span>
            <img src="~/img/Futsal Mujer/Futsal 1.png" alt="" class="img-item">
            <span class="precio-item">$130.000</span>
            <button class="boton-item">Agregar al Carrito</button>
        </div>
        <div class="item">
            <span class="titulo-item">Adidas predator Blanco/Verde</span>
            <img src="~/img/Futsal Mujer/Futsal 2.png" alt="" class="img-item">
            <span class="precio-item">$170.000</span>
            <button class="boton-item">Agregar al Carrito</button>
        </div>
        <div class="item">
            <span class="titulo-item">Adidas predator Negro</span>
            <img src="~/img/Futsal Mujer/Futsal 3.png" alt="" class="img-item">
            <span class="precio-item">$150.000</span>
            <button class="boton-item">Agregar al Carrito</button>
        </div>
        <div class="item">
            <span class="titulo-item">Adidas Predator Azul</span>
            <img src="~/img/Futsal Mujer/Futsal 4.png" alt="" class="img-item">
            <span class="precio-item">$160.000</span>
            <button class="boton-item">Agregar al Carrito</button>
        </div>
        <div class="item">
            <span class="titulo-item">Adidas Rx Negro/Rosa</span>
            <img src="~/img/Futsal Mujer/Futsal 5.png" alt="" class="img-item">
            <span class="precio-item">$160.000</span>
            <button class="boton-item">Agregar al Carrito</button>
        </div>
        <div class="item">
            <span class="titulo-item">Adidas Rx Blanco/Verde</span>
            <img src="~/img/Futsal Mujer/Futsal 6.png" alt="" class="img-item">
            <span class="precio-item">$170.000</span>
            <button class="boton-item">Agregar al Carrito</button>
        </div>

    </div>

    <div class="carrito" id="carrito">
        <div class="header-carrito">
            <h2>Tu Carrito</h2>
        </div>

        <div class="carrito-items">
        </div>
        <div class="carrito-total">
            <div class="fila">
                <strong>Tu Total</strong>
                <span class="carrito-precio-total">
                    $120.000,00
                </span>
            </div>
            <button class="btn-pagar">Pagar <i class="fa-solid fa-bag-shopping"></i> </button>
        </div>
    </div>
</section>
<br>
<br>
<br>
<br>
