<br>
<br>
<br>
<section class="contenedor">
    <div class="contenedor-items">
        <div class="item">
            <span class="titulo-item">Adidas predator</span>
            <img src="~/img/Guayos Hombre/Guayo_1.png" alt="" class="img-item">
            <span class="precio-item">$270.000</span>
            <button class="boton-item">Agregar al Carrito</button>
        </div>
        <div class="item">
            <span class="titulo-item">Nike Hiper Venom</span>
            <img src="~/img/Guayos Hombre/Guayo_2.png" alt="" class="img-item">
            <span class="precio-item">$320.000</span>
            <button class="boton-item">Agregar al Carrito</button>
        </div>
        <div class="item">
            <span class="titulo-item">Nike Venom</span>
            <img src="~/img/Guayos Hombre/Guayo_3.png" alt="" class="img-item">
            <span class="precio-item">$210.000</span>
            <button class="boton-item">Agregar al Carrito</button>
        </div>
        <div class="item">
            <span class="titulo-item">Nike Phantom Verde/Blanco</span>
            <img src="~/img/Guayos Hombre/Guayo_4.png" alt="" class="img-item">
            <span class="precio-item">$320.000</span>
            <button class="boton-item">Agregar al Carrito</button>
        </div>
        <div class="item">
            <span class="titulo-item">Nike Phantom Naranja</span>
            <img src="~/img/Guayos Hombre/Guayo_5.png" alt="" class="img-item">
            <span class="precio-item">$320.000</span>
            <button class="boton-item">Agregar al Carrito</button>
        </div>
        <div class="item">
            <span class="titulo-item">Nike Phantom Negro</span>
            <img src="~/img/Guayos Hombre/Guayo_6.png" alt="" class="img-item">
            <span class="precio-item">$15.000</span>
            <button class="boton-item">Agregar al Carrito</button>
        </div>
        <div class="item">
            <span class="titulo-item">Nike Mercurial Negro</span>
            <img src="~/img/Guayos Hombre/Guayo_7.png" alt="" class="img-item">
            <span class="precio-item">$250.000</span>
            <button class="boton-item">Agregar al Carrito</button>
        </div>
        <div class="item">
            <span class="titulo-item">Nike Mercurial Verde</span>
            <img src="~/img/Guayos Hombre/Guayo_8.png" alt="" class="img-item">
            <span class="precio-item">$260.000</span>
            <button class="boton-item">Agregar al Carrito</button>
        </div>
        <div class="item">
            <span class="titulo-item">Nike Mercurial Rojo/Negro</span>
            <img src="~/img/Guayos Hombre/Guayo_9.png" alt="" class="img-item">
            <span class="precio-item">$230.000</span>
            <button class="boton-item">Agregar al Carrito</button>
        </div>
    </div>

    <div class="carrito" id="carrito">
        <div class="header-carrito">
            <h2>Tu Carrito</h2>
        </div>

        <div class="carrito-items">
        </div>
        <div class="carrito-total">
            <div class="fila">
                <strong>Tu Total</strong>
                <span class="carrito-precio-total">
                    $120.000,00
                </span>
            </div>
            <button class="btn-pagar">Pagar <i class="fa-solid fa-bag-shopping"></i> </button>
        </div>
    </div>
</section>
<br>
<br>
<br>
<br>
