<br>
<br>
<br>
<div class="image-container">
    <img src="~/img/Tallas_Caballero.png" width="80%" height="60%" alt="Imagen 1">
</div>

<div class="image-container">
    <img src="~/img/Tallas_dama.png" width="80%" height="60%" alt="Imagen 2">
</div>

<div class="image-container">
    <img src="~/img/Tallas_Niños.png" width="80%" height="60%" alt="Imagen 3">
</div>
<br>
<br>
<br>