<br>
<br>
<br>
<h1 style="background: linear-gradient(150deg, #b92929, #000000 ); padding: 30px; text-align: center; color: white;">
    SIGUE TU ENVÍO
</h1>
<br>
<br>
<form style="text-align: center;">
    <div class="numero-guia">
        <div>
            <label><h3>Numero de Guía: </h3></label>
            <input type="number" />
        </div>
        <div>
            <label><h3>Cédula de Ciudadanía: </h3></label>
            <input type="number" />
        </div>
        <a class="btn btn-secondary" href="" role="button" style="background: linear-gradient(150deg, #b92929, #000000 );">Consultar</a>
    </div>
    <br>
    <br>
    <div>
        <table border="0" style="display: flex; justify-content: center;">
            <tr class="table-mapa">
                <th><img src="~/img/mapa de envio.png" class="im" alt=""></th>
                <th><img src="~/img/historial de envio.PNG" class="im" alt=""></th>
            </tr>

        </table>
    </div>

</form>
<br>
<br>
<br>
<br>
<div class="envios">
    <h3>Interrapidisimo <a class="btn btn-secondary" href="https://www.interrapidisimo.com/sigue-tu-envio/" role="button" style="background: linear-gradient(150deg, #b92929, #000000 );">Consultar</a></h3>
    <h3>Servientrega <a class="btn btn-secondary" href="https://www.servientrega.com/wps/portal/rastreo-envio/!ut/p/z1/04_Sj9CPykssy0xPLMnMz0vMAfIjo8ziTS08TTwMTAz93f1cTAwCg5yMfP0MHT2NPQ30w8EKDHAARwP9KGL041EQhd_4cP0oPFYYOfoaQRXgMaMgNzTCINNREQC2ok6g/dz/d5/L2dBISEvZ0FBIS9nQSEh/" role="button" style="background: linear-gradient(150deg, #b92929, #000000 );">Consultar</a></h3>
    <h3>Envía <a class="btn btn-secondary" href="https://envia.co/" role="button" style="background: linear-gradient(150deg, #b92929, #000000 );">Consultar</a></h3>
</div>
<br>
<br>
<br>
<br>
<br>